<!DOCTYPE html>  
<html>  
<head>  
<meta charset="ISO-8859-1" />  
<title><%= title %></title> 
</head>  
<body>  
    <%= user%>
   <form action="/routes/signup" method="post">  
         Name:<input type="text" name="name"><br> 
         Username:<input type="text" name="username"><br> 
         Password:<input type="password" name="password"><br>
         Email:<input type="email" name="eamil"><br>  
                  <input type="submit" value="login">  
   </form>  
 </body>  
</html> 